 body {
        background-image: url('../img/background.jpg');
        background-size: cover;

 }

 .main {
        text-align: center;
        padding-top: 100px;
        font: 15px Arial, sans-serif;
        width:30%;
        margin: 0 auto
 }

 .bottom {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: #e4e3e3;
        background-color: rgba(251,240,240, 0.3)
 }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
