 body {
        background-image: url('../img/background.jpg');
        background-size: cover;

 }

 .main {
        text-align: center;
        padding-top: 100px;
        font: 15px Arial, sans-serif;
 }

 .bottom {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: #e4e3e3;
        background-color: rgba(251,240,240, 0.5)

 }