<div class="row g-4 py-5 row-cols-1 row-cols-lg-3 bottom">
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">GitHub <a href="https://github.com/tomekg507"><img src="{{ url_for('static', filename='svg/github.svg') }}" /></a></h3>
      </div>
    </div>


<!--<div class="bottom row">-->
<!--    <div class="column">-->
<!--        hehehe-->
<!--        <a href="https://github.com/tomekg507"><img src="{{ url_for('static', filename='svg/github.svg') }}" /></a>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--        hehehe-->
<!--    </div>-->
<!--</div>-->