<div class="bottom">
<div class="row g-4 py-4 row-cols-1 row-cols-lg-3" style="width:40%; margin:0 auto">
      <div class="feature col">
          <div>
        <h3 class="fs-2 text-body-emphasis">GitHub
            </div>
          <div>
            <a href="https://github.com/tomekg507"><img style="width: 30px" src="{{ url_for('static', filename='svg/github.svg') }}" /></a>
                       </div>
        </h3>
      </div>
          <div class="feature col">
              <div>
        <h3 class="fs-2 text-body-emphasis">MIMUW
            </div>
          <div>
            <a href="https://mimuw.edu.pl/~tg332126/"><img style="width: 30px" src="{{ url_for('static', filename='svg/book.svg') }}" /></a>
        </h3>
               </div>
      </div>
    <div class="feature col">
        <div>
            <h3 class="fs-2 text-body-emphasis">Contact
        </div>
        <div>
            <a href="#popup1"><img style="width: 30px" src="{{ url_for('static', filename='svg/envelope-arrow-down.svg') }}" /></a>
            </h3>
        </div>

        <div id="popup1" class="overlay">
	        <div class="popup">
		        <h2>t.galazka@mimuw.edu.pl</h2>
		        <a class="close" href="#">&times;</a>
	        </div>
        </div>
    </div>
</div>

<!--<div class="bottom row">-->
<!--    <div class="column">-->
<!--        hehehe-->
<!--        <a href="https://github.com/tomekg507"><img src="{{ url_for('static', filename='svg/github.svg') }}" /></a>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--        hehehe-->
<!--    </div>-->
<!--</div>-->