<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="layout">
    <div>
        <img src="{{ url_for('static', filename='img/notebook.png') }}" class="notebook">
    </div>
    <div class="list">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Write your task here and press enter to confirm:</h1>
            <form action="{{ url_for('home') }}" method="post">
                <input type="text" name="input" class="form-control" style="width: 65%; margin-bottom:20px">
            </form>
        {% for task in tasks %}
        <div style="padding-bottom: 5px">
            <a href="{{ url_for('delete', index=loop.index) }}"><img src="{{ url_for('static', filename='./img/x-lg.svg') }}"></a>
            <input type="radio" name="{{ loop.index }}" class="btn-check" id="success - {{ loop.index }}">
            <label class="btn btn-outline-success button" for="success - {{ loop.index }}"></label>
            <input type="radio" name="{{ loop.index }}" class="btn-check" id="danger - {{ loop.index }}" checked>
            <label class="btn btn-outline-danger button" for="danger - {{ loop.index }}"></label>
            {{ task }}

        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>