<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


<img src="{{ url_for('static', filename='Niepocieszajonce.png') }}" class="center">

<div class="middle">
    <form action="{{ url_for('home') }}" method="post">
        <label>Summoner Name:</label>
        <input name="name">
        <label>Game Tag:</label>
        <input name="tag">
        <button type="submit">Submit</button>
        {% if data %}
            {% if data[0] == True %}
                <h1>Rank: {{ data[1] }} {{data[2]}}, {{ data[3] }} LP with {{ data[4] }} wins - {{ data[5] }} losses.</h1>
            {% else %}
                <h1>{{ data[1] }}</h1>
            {% endif %}
        {% endif %}
    </form>
</div>
</body>
</html>